<%- include("partials/header.ejs") %>


<h1>DashBoardSG</h1>

<% if (selectedDash["PM25"]) { %>
    <p>
        PM2.5 is <%= selectedDash["PM25"] %>
    </p>
    <% } %>
    
<% if (selectedDash["PSI"]) { %>
    <p>
        PSI is <%= selectedDash["PSI"] %>
    </p>
    <% } %>

<% if (selectedDash["UVI"]) { %>
    <p>UVI is selected</p>
<% } %>

<% if (selectedDash["Weather"]) { %>
    <p>Weather is selected</p>
<% } %>


<%- include("partials/footer.ejs") %>
