<!-- /views/index.ejs -->

<%- include("partials/header.ejs") %>

<script>
  let userLatitude, userLongitude;
  let browserGPSallowed;

  if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
          userLatitude = position.coords.latitude;
          userLongitude = position.coords.longitude;
          document.querySelector("#userLatitude").value = userLatitude;
          document.querySelector("#userLongitude").value = userLongitude;
          // document.querySelector("#browserWarning").innerHTML = "Browser allows GPS!";
          console.log(`Inside Latitude: ${userLatitude}, Longitude: ${userLongitude}`);
        });
      } else {
        console.log("Geolocation is not supported by this browser.");
        document.querySelector("#browserWarning").innerHTML = "Please enable location on this browser";
        browserGPSallowed = false;
      }
      
</script>

<div>
  <img class="logo" src="https://cdn.onlinewebfonts.com/svg/img_81173.svg" alt="Dashboard icon">
  <h1>DashBoardSG</h1>
  <br>
</div>
<div>
  <h2>What's important to you?</h2>
    
  <form id="myForm" action="/display" method="post">

    <label for="dash1">
      <input type="checkbox" id="dash1" name="PM25" value= "selected" checked> PM2.5
    </label>

    <label for="dash2">
      <input type="checkbox" id="dash2" name="PSI" value="selected" checked> PSI
    </label>

    <label for="dash3">
      <input type="checkbox" id="dash3" name="UVI" value="selected" checked> UVI
    </label>

    <label for="dash4">
      <input type="checkbox" id="dash4" name="Weather" value="selected" checked> Weather
    </label>
    <br> <!-- Add a line break here -->
    <input type="submit" value="Display">
    <input type="hidden" id="userLatitude" name="userLatitude" value="latitude">
    <input type="hidden" id="userLongitude" name="userLongitude" value="longitude">

  </form>
</div>
  <h3 id="browserWarning"></h3>

<%- include("partials/footer.ejs") %>
