<!-- /views/index.ejs -->

<%- include("partials/header.ejs") %>

<script>
  let userLatitude, userLongitude;

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      userLatitude = position.coords.latitude;
      userLongitude = position.coords.longitude;
      document.querySelector("#userLatitude").value = userLatitude;
      document.querySelector("#userLongitude").value = userLongitude;
      // document.querySelector("#browserWarning").innerHTML = "Browser allows GPS!";
      // console.log(`Inside Latitude: ${userLatitude}, Longitude: ${userLongitude}`);
    });
    } else {
      console.log("Geolocation is not supported by this browser.");
      document.querySelector("#browserWarning").innerHTML = "Please enable location on this browser";
    }
</script>

<body>
  <div class="titleBlock">
    <img class="logo" src="https://cdn.onlinewebfonts.com/svg/img_81173.svg" alt="Dashboard icon">
    <h1>DashBoardSG</h1>
  </div>
  <div class="formBlock">
    <h2>What's important to you?</h2>
      
    <form id="myForm" action="/display" method="post">
      <div class="custom-control custom-checkbox">
        <label class="custom-control-label" for="dash1">
          <input type="checkbox" class="custom-control-input" id="dash1" name="Weather" value="selected" checked>Weather
        </label>

        <label class="custom-control-label" for="dash2">
          <input type="checkbox" class="custom-control-input" id="dash2" name="Temp" value="selected" checked>Temperature
        </label>

        <label class="custom-control-label" for="dash3">
          <input type="checkbox" class="custom-control-input" id="dash3" name="Humidity" value="selected" checked>Humidity
        </label>

        <label class="custom-control-label" for="dash4">
          <input type="checkbox" class="custom-control-input" id="dash4" name="Rainfall" value="selected">Rainfall
        </label>

        <label class="custom-control-label" for="dash5">
          <input type="checkbox" class="custom-control-input" id="dash5" name="PM25" value= "selected">PM2.5
        </label>

        <label class="custom-control-label" for="dash6">
          <input type="checkbox" class="custom-control-input" id="dash6" name="PSI" value="selected">PSI
        </label>

        <label class="custom-control-label" for="dash7">
          <input type="checkbox" class="custom-control-input" id="dash7" name="UVI" value="selected">UVI
        </label>

      </div>
      <br>
      <button class="btn btn-primary btn-lg" type="submit"><strong>Display</strong></button>
      <input type="hidden" id="userLatitude" name="userLatitude" value="latitude">
      <input type="hidden" id="userLongitude" name="userLongitude" value="longitude">
    </form>
  </div>
    <h3 id="browserWarning"></h3>
</body>
<%- include("partials/footer.ejs") %>
