<!-- /views/index.ejs -->

<%- include("partials/header.ejs") %>

<body>
  
  <img class="logo" src="http://cdn.onlinewebfonts.com/svg/img_81173.svg" alt="Dashboard icon">
  <h1>DashBoardSG</h1>
  <h2>What's important to you?</h2>
  
  <form action="/display" method="post">

    <label for="dash1">
      <input type="checkbox" id="dash1" name="PM25" value="Item 1"> PM2.5
    </label>

    <label for="dash2">
      <input type="checkbox" id="dash2" name="PSI" value="Item 2"> PSI
    </label>

    <label for="dash3">
      <input type="checkbox" id="dash3" name="UVI" value="Item 3"> UVI
    </label>

    <label for="dash4">
      <input type="checkbox" id="dash4" name="Weather" value="Item 4"> Weather
    </label>

    <input type="submit" value="Display">

  </form>

</body>
    
  <%- include("partials/footer.ejs") %>