/* html,
body {
  height: 100%;
} */

header{
  flex: 0 0 auto;
  background-color: blue;
  margin-bottom: 1.5rem;
}
main {
  background: url("https://wallpaperaccess.com/full/328442.jpg") center/cover fixed;
  filter: brightness(50%); /* Adjust the percentage for brightness */
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
}
body {
  filter: brightness(100%); /* Adjust the percentage for brightness */
  margin: 0 10;
  align-items: center;
  color: #ffffff; /* Set text color for better visibility */
}
p {
  color: white;
  font-size: medium;
  margin-top: 10px;
  margin-bottom: 10px;
}

img.logo {
  height: 50px;
}

.titleBlock {
  margin-top: 3em;
  padding: 1em;
}

.formBlock {
  padding: 1em;
}

.custom-control-label {
  padding: 0px 20px;
}

.profile {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.feedback-input {
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #3586ff;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #3586ff;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

/* [type="submit"] {
  width: 200px;
  height: 60px;
  background: #3586ff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  font-weight: 700;
}

[type="submit"]:hover {
  background: #3586ff;
  font-size: 26px;
} */
