html {
  font-size: 14px;
}
header {
  background-color: blue;
  margin-bottom: 2rem;
}
body {
  background: url("https://wallpaperaccess.com/full/328442.jpg") center/cover fixed;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  color: white; /* Set text color for better visibility */
}
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
img.logo {
  height: 4rem;
}
.titleBlock {
  margin-top: 2rem;
  padding: 1rem;
}
.formBlock {
  padding: 1rem;
}
.about {
  margin: 0 5rem;
  background-color: black;
  padding: 2rem;
  opacity: 0.6;
  border-radius: 2rem;
}
.about h3 {
  margin-top: 1rem;
}
.about ul {
  text-align: left;
  padding: 0 1rem;
}
.custom-control-label {
  padding: 0 1.5rem;
}
.profile {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.feedback-input {
  color: grey;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 1rem;
  line-height: 2rem;
  background-color: whitesmoke;
  border: 2px solid #3586ff;
  transition: all 0.3s;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 75%;
  box-sizing: border-box;
  outline: 0;
}
.feedback-input:focus {
  border: 2px solid #3586ff;
}
textarea {
  height: 12rem;
  line-height: 150%;
  resize: vertical;
}

/* [type="submit"] {
  width: 200px;
  height: 60px;
  background: #3586ff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  font-weight: 700;
}

[type="submit"]:hover {
  background: #3586ff;
  font-size: 26px;
} */
