html,
body {
  height: 100%;
}

body {
  background: rgba(0, 0, 0, 0.1) url("https://wallpaperaccess.com/full/328442.jpg") center/cover fixed;
  filter: brightness(100%); /* Adjust the percentage to control the dimness */
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff; /* Set text color for better visibility */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

header,
footer {
  flex: 0 0 auto;
}

main {
  text-align: center;
  padding: 5vmin;
  flex: 1 0 auto;
}

h1 {
  text-align: center;
}

p {
  color: white;
  font-size: medium;
}

li {
  color: white;
  font-size: large;
}

img {
  height: 50px;
}

form {
  text-align: center;
  font-size: 1em;
}

.profile {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

form {
  margin-top: 50px;
}

[type="submit"] {
  width: 200px;
  height: 60px;
  background: #3586ff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  font-weight: 700;
}

[type="submit"]:hover {
  background: #3586ff;
  font-size: 26px;
}
